@import '../../../src/sassVariables';

.CartButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  background: $c-mainGreen;
  color: $c-white;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
  border: none;
  width: 100%;
  transition: background-color ease-in-out 0.5s,
    box-shadow ease-in-out 0.5s;

  &:hover {
    background-color: $c-accentGreen;
    box-shadow: 1px 3px 8px $c-black;
    cursor: pointer;
  }
}
