@import '../../../src/sassVariables';

.ProductCard {
  position: relative;
  box-sizing: border-box;
  width: 386px;
  height: 444px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 386px;
  padding: 16px;
  transition: box-shadow ease-in-out 0.5s;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  }

  &__image-wrapper {
    position: relative;
    width: 354px;
    height: 330px;
  }

  &__image {
    margin-bottom: 24px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__icon {
    position: absolute;
    right: 76px;
    bottom: 96px;
    opacity: 0;
    pointer-events: none;

    &--visible {
      opacity: 1;
      pointer-events: all;
    }

    &--invisible {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__outofstock {
    opacity: 0.5;
    color: $c-accentGray;
  }

  &__outofstock-text {
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    text-transform: uppercase;
    color: $c-accentGray;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    z-index: 1;

    &--visible {
      opacity: 1;
      visibility: visible;
      flex-direction: column;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    text-align: left;
  }

  &__price {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-align: left;
  }
}
