.CurrencySwitcher {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  text-align: center;
  z-index: 5;
  position: absolute;
  top: 0;
  right: 138px;
  box-shadow: #63636333 0px 2px 8px 0px;
  visibility: hidden;
  pointer-events: none;
  display: none;

  &--visible {
    visibility: visible;
    pointer-events: all;
    display: block;
  }

  &__option {
    padding: 8px 38px 8px 20px;

    &:hover {
      background-color: #eee;
      cursor: pointer;
    }
  }
}
