@import '../../../src/sassVariables';
.ProductInfo {
  display: flex;

  &__gallery {
    display: flex;
    margin-right: 100px;
  }

  &__icon-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    row-gap: 32px;
    max-height: 512px;
    overflow-x: hidden;
    scrollbar-width: thin;
    padding: 16px;

    &:hover {
      cursor: pointer;
    }
  }

  &__icon {
    width: 80px;
    height: 80px;
  }

  &__image-wrapper {
    max-height: 512px;
    max-width: 610px;
  }

  &__image {
    object-fit: cover;
    width: 90%;
    height: 90%;
  }

  &__success-message{
    width: 100%;
    background-color: #a6f5b9;
    border-radius: 6px;
    padding: 20px;
    color: #f00;
    font-weight: 600;
    display: flex;
    z-index: 6;
    transform: translateY(-450%);
    visibility: hidden;
    opacity: 0;
    transition: transform ease-in-out 0.5s;

    &--visible {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.Item {
  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
    max-height: 600px;
    padding: 20px;
    overflow-x: auto;
    overflow-y: auto;
  }

  &__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
  }

  &__description {
    font-size: 30px;
    line-height: 27px;
  }

  &__price {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 10px;


    &--value {
      font-size: 24px;
      line-height: 18px;
    }
  }

  &__attribute {
    &-title {
      font-weight: 700;
      font-size: 18px;
      line-height: 100%;
      text-transform: uppercase;
    }

    &-wraper {
      display: flex;
      gap: 8px;
      margin-bottom: 8px;
    }
  
    &-color {
      width: 32px;
      height: 32px;
      border: 1px solid $c-darkGray;
      margin-bottom: 16px;

      &:hover {
        border-color: $c-accentGreen;
        cursor: pointer;
      }

      &--isActive {
        border-color: $c-accentGreen;
      }
    }

    &-other {
      border: 1px solid $c-darkGray;
      width: 64px;
      height: 46px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 16px;

      &:hover {
        cursor: pointer;
        background-color: $c-darkGray;
        color: $c-white;
      }

      &--isActive {
        background-color: $c-darkGray;
        color: $c-white;
      }
    }

    &--cart {
      pointer-events: none;
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
  }

  &__text {
    margin-top: 40px;
  }
}
