.ProductInfo {
  padding: 0 100px 180px;
  display: flex;
  justify-content: space-between;

  &__gallery {
    display: flex;
    gap: 40px;
    margin-right: 100px;
  }

  &__icon {
    display: flex;
    flex-direction: column;
    gap: 32px;

    &--1,
    &--2,
    &--3 {
      width: 80px;
      height: 80px;
      background-color: aquamarine;
    }
  }

  &__image {
    height: 512px;
    width: 610px;
    background-color: #c4c4c4;
  }
}

.Item {
  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
  }

  &__description {
    font-size: 30px;
    line-height: 27px;
  }

  &__price {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;

    &--value {
      font-weight: 700;
      font-size: 24px;
      line-height: 18px;
    }
  }

  &__size--title,
  &__color--title {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
  }

  &__size-wraper {
    display: flex;
    gap: 8px;
  }

  &__size--x-small,
  &__size--small,
  &__size--medium,
  &__size--large {
    border: 1px solid #1d1f22;
    width: 64px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
      background-color: #1d1f22;
      color: #fff;
    }
  }

  &__color-wraper {
    display: flex;
    gap: 8px;
  }

  &__color--gray,
  &__color--blue,
  &__color--red {
    width: 32px;
    height: 32px;
    background-color: gray;
  }

  &__size,
  &__color {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
  }

  &__text {
    margin-top: 40px;
  }
}
